body {
  font-family: Arial;
  color: #707070;
  text-align: center;
  margin: 0px;
}

.button-link {
  background-color: white;
  border: 2px solid #707070;
  color: #707070;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.outer-container {
  height: 100vh;
  position: relative;
}
.main-container {
  position: absolute;
  width: 100%;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* React Router Link text decoration fix */
a {
  text-decoration: none;
}
